@import '../../../assets/styles/variables.scss';

.button-player {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    cursor: pointer;
    transition: all 0.1s linear;

    &:hover {
        box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.9);
        transition: all 0.1s linear;
        opacity: 1;
    }

    &_icon {
        &_prev {
            opacity: 0.8;
            svg {
                transform: rotate(180deg);
            }
        }

        &_play {
            width: 70px;
            height: 70px;
        }

        &_pause {
            width: 70px;
            height: 70px;
        }

        &_next {
            opacity: 0.8;
        }

        &_volume {
            opacity: 0.5;
        }

        &_arrows {
            opacity: 0.5;
        }
    }

    &_active {
        opacity: 1;
    }
}