.canvas-box {
    height: 400px;
    width: 400px;
    align-self: center;
    background: rgba(0, 0, 0, 0.10);
    box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.3);
    border: var(--border);
    border-radius: 12px;

    canvas {
        //  filter: blur(1.5px) ;//contrast(1)
    }
}