@import '../../assets/styles/variables.scss';

.cover {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: $border-radius;
    height: 400px;
    background-color: #434343;
    box-shadow: $box-shadow;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &_active {}
    }
}