.card-playlist {
    padding: 16px;
    border: 1px solid #fff;
    border-radius: 12px;

    &__img {
        max-width: 300px;
        overflow: hidden;
        border-radius: 16px;
        height: auto;
        border: 1px solid #fff;
        border-radius: 12px;
position: relative;
        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
            object-position: 50% 50%;
        }
    }

    &__title {
         padding-top: 12px;
        font-size: 16px;
    }

  

    &__button {
        display: none !important;
    }

    &:hover {
        .card-playlist__button {
            display: flex !important;
            position: absolute;
            top: 5%;
            right: 5%;
        } 
    }
}