.card-playlist {
    padding: 16px;
    border: 1px solid #fff;
    border-radius: 12px;

    //   height: 250px;
    &__img {
        max-width: 300px;
        // width: 100%;
        // max-height: 150px;
        overflow: hidden;
        border-radius: 16px;
        // min-height: 100%;
        height: auto;
        border: 1px solid #fff;
        border-radius: 12px;

        img {
            width: 100%;
            object-fit: cover;
            // border-radius: 16px;
            height: 100%;
            object-position: 50% 50%;
        }
    }

    &__title {
        padding-top: 12px;
        font-size: 16px;
    }
}