@import '../../assets/styles/variables.scss';

.player {
    padding: $padding-container;
    max-width: 480px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    grid-area: player;

    &__box {
        display: grid;
        grid-template-columns: 0.7fr 0.3fr;
    }
}