@import './variables.scss';

button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.link {}

#app {
    font-family: 'Roboto', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
  
}

.root {
    backdrop-filter: blur(30px);
    background-color: $color-dark;
    color: $color-white;
    background-image: url(../../assets/images/background/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.root.green {
    background-image:none;
}

.root.blue {
    background-image:none;
}

.main-page {
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(10px);
}

.container {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(0px);
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    width: 100%;
}

