@import '../assets/styles/variables.scss';

.layout {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 1480px;
    margin: 0 auto;
    overflow: hidden;

    &__main {
        width: 100%;
    }

    &__container {
        width: 100%;
        display: flex;
    }

    &__grid {
        width: 100%;
        display: flex;
        gap: 2rem;
        max-height: $max-height-container;
        // display: grid;
        // grid-template-columns: max-content 1fr;
        // grid-template-rows: max-content 1fr;
        // grid-template-areas: 
        // '. content'
        // 'player content'        ;
        // overflow: hidden;
    }

    &__box {
        width: 100%;
        grid-area: content;
        overflow: hidden;
    }
}
.page {
    padding: 36px 24px 48px; //$padding-container
}

@media(max-width: 1580px) {
    .layout {
        margin: 0 5%;
    }
}